* {
    overflow: auto;
}
body{
    background-color: #8BA1BB;
    font-family: Arial;
}
div.contenu {
    background-color: white;
    margin: 80px 10% 80px 10%;
    padding: 0 30px 30px 30px;
    min-width: 350px;      
    box-shadow: 0px 5px 5px 5px rgb(63, 62, 62);  
    overflow: visible;      
}
h1 {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 15px;
}
p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 16px;
}
div.description {
    text-align: center;
    padding: 30px;
}
div.centre {
    text-align: center;             
}
p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 08px 18px;
    margin-top: 0;
    margin-top: -15px;
    
}
div.categorie {
    overflow: visible;  
}
div.separateur {
    background-color: rgb(127, 192, 192);
    width: 100px;
    height: 1px;
    margin: 0;  
    display: block;   
    margin-left: auto;  
    margin-right: auto;     
}
div.infos {
    position:relative;
}
table.infos {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    color: white; 
    background: #6C829DC0; 
    height: 80px;" 
}
table.infos td {
    text-align: center;
    font-size: 13px;
    vertical-align: top;
    padding: 5px;
}
table.infos th {
    text-align: center;
    font-size: 14px;
    vertical-align: bottom;
}
img.infos {  
    background-color: #b8c9df;
    max-height: 400px;
    object-fit: cover;   
}
div.colonne {
    width: 45%;
    display: inline-block;
}
div.colonne1 {
    margin-right: ;
}
div.colonne2 {
    float: right;
}
div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 5px #6C829D solid;
}
div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 5px #6C829D solid;
}
div.ingredients p {
    text-align: center;
    font-size: 14px;
    border: 1px #6C829D solid;
    margin-top: 4px;
    margin-bottom: 0;
    padding: 8px 0px;
}
table.preparation p.numero {
    background-color: #8BA1BB;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight:bold;
    padding-top: 04px;
    box-sizing: border-box;
    border-radius: 100%;
    margin: 0;   
}
table.preparation td table.etape_prepa td{
    vertical-align: top;
}
td.etape_prepa {
   font-size: 14px;
   padding-left: 10px;
   padding-bottom: 10px;

}
table.preparation tr {
    height: 40px;
}












